.innerDivWithEffects {
    background: #EBEBEB;
    border-radius: 25px;
    border: 1px solid #000000;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    box-shadow: 5px 5px #888888;
}
.divForSelection {
    background: #F9F9F9;
    margin: 1px;
    border-radius: 25px;
    border: 1px solid #000000;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.divSelected {
    background: #A9A9A9;
    color: #ffffff;
}